body{
 background-color: #900C3E;
 color: white;
}

h1,h2{

    text-align: center;
    font-family: 'Black Han Sans', sans-serif;

}

h1{
    color:#FFC300;
}
h2{
     color: #FFC300;
}
.inicio{
    margin-left: 30px;
}

#uno{
     
      display: inline;
}

#dos{
    
    display: inline;
    }

